@import "../../styles/variables";

.card {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  color: $white;
  background-color: $royalBlue;
  height: 50px;
  width: 50px;
  margin-right: 30px;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 20px;
}

.question {
  margin: 10px 0;
  font-size: $font-med;
}

.dropdown {
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
  color: $royalBlue;
  border-radius: $border-radius;
  padding: 0;
  background: $white;
}

.dropdown_icon {
  position: relative;
  top: 2px;
  transition: transform 200ms;
  &.selected {
    transform: rotate(180deg);
  }
}

.answer {
  margin-bottom: 0;
}
